###############################################################################
# Editor                                                                      #
###############################################################################
# IntelliJ IDEA
/.idea/
/*.iml

# Eclipse
.settings/
.project
.classpath
.factorypath

###############################################################################
# Build artifacts                                                             #
###############################################################################
/target/
# Default Eclipse directory
/bin/
planning.pdf

###############################################################################
# Dependencies                                                                #
###############################################################################

###############################################################################
# Temporary files                                                             #
###############################################################################
*.log
*.tmp
# Default Eclipse directory for Annotation Processing
/.apt_generated/
#LaTeX
*.toc
*.aux
*.out

###############################################################################
# Other                                                                       #
###############################################################################
*~
