###############################################################################
# Editor                                                                      #
###############################################################################
# IntelliJ IDEA
.idea
*.iml

# Eclipse
.project
.classpath

###############################################################################
# Build artifacts                                                             #
###############################################################################
target

###############################################################################
# Dependencies                                                                #
###############################################################################

###############################################################################
# Temporary files                                                             #
###############################################################################
*.log
*.tmp


###############################################################################
# Other                                                                       #
###############################################################################
