#planningDetailsVBox {
    -fx-padding: 10px;
    -fx-spacing: 0;
}

.waypointCardVBox {
    -fx-padding: 10px;
}

.flatButton {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-effect: none;
    -fx-border: none;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-border-radius: 2px;
}

.flatButton FontIcon {
    -fx-icon-size: 32px;
    -fx-icon-color: rgba(0, 0, 0, .5);
}

.flatButton:hover {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.flatButton:hover FontIcon {
    -fx-icon-color: rgba(0, 0, 0, .8);
}

#pathBefore {
    -fx-padding: 0 8px 0 0;
}

.invalid EditableDeliveryAddressCard, .invalid WarehouseCard, .invalid WaypointCard, .invalid DeliveryAddressCard  {
    -fx-background-color: #ffb8af;
}
