#add, #remove, #edit {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
    -fx-effect: none;
    -fx-border: none;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    visibility: hidden;
}

#remove FontIcon, #edit FontIcon, #add FontIcon {
    -fx-icon-size: 32px;
    -fx-icon-color: rgba(0, 0, 0, .5);
}

PlanningDetailsItem:hover #remove, PlanningDetailsItem:hover #edit, PlanningDetailsItem:hover #add {
    visibility: visible;
}

#remove:hover FontIcon, #edit:hover FontIcon, #add:hover FontIcon {
    -fx-icon-color: rgba(0, 0, 0, .8);
}
