TimeField TextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #6b6969;
    -fx-padding: 0;
}

TimeField {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #6b6969;
    -fx-padding: 0;
}

TimeField.ReadOnly  TextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

TimeField.ReadOnly {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
